# --- Configuration

# --- LLMs
PADO_API_KEY="your_pado_api_key"
PADO_MODEL_NAME="your_pado_model_name"
PADO_MODEL_API="your_pado_model_api_base_url"

GPT_OSS_120B_API_BASE=${PADO_MODEL_API}
GPT_OSS_120B_MODEL=${PADO_MODEL_NAME}

OPENAI_API_KEY=$PADO_API_KEY

# --- EMBEDDINGs
TEXT_EMBEDDING_MODEL_URL="http://your_embedding_host:18000/v1/embeddings"
TEXT_EMBEDDING_MODEL_NAME="bge-m3-ko"

# --- Agents
ROOT_AGENT_API_BASE=${GPT_OSS_120B_API_BASE}
ROOT_AGENT_MODEL=${GPT_OSS_120B_MODEL}

SUB_AGENT_API_BASE=${GPT_OSS_120B_API_BASE}
SUB_AGENT_MODEL=${GPT_OSS_120B_MODEL}

DATA_SEARCH_AGENT_BASE=${GPT_OSS_120B_API_BASE}
DATA_SEARCH_MODEL=${GPT_OSS_120B_MODEL}

# --- MCP TOOLs

# --- DBs
POSTGRESQL_DB_USER="your_postgres"
POSTGRESQL_DB_PASS="your_postgres"
POSTGRESQL_DB_NAME="your_database_name"
POSTGRESQL_DB_HOST="your_postgres_host"
POSTGRESQL_DB_PORT=5543
POSTGRESQL_DB_TABLE="your_table_name"

CHROMADB_HOST="your_chromadb_host"
CHROMADB_PORT=8001
CHROMADB_COLLECTION_NAME="your_chromadb_collection_name"
